* {
    box-sizing: border-box;
    margin: 0;
}
body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("image/currencies.jpg");
}
.container{
    width: 300px;
    margin: 20px auto;
    
}
.container .currencies-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.container .currencies-container .Currencies{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.container .first-list,
.container .second-list{
    display: none;
}
.container .input{
    position: relative;
}
.container input::placeholder{
    font-size: 14px;
}
.container .input span{
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}
.container .input,
.container .the-value input {
    border: 1px solid #eee;
    width: 300px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container .the-value input{
    padding: 10px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield; 
}

.container button{
    cursor: pointer;
}
.container li{
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
.container li:hover{
    border: 1px solid #03A9F4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container .input .btn{
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

.container .input input{
    position: absolute;
    border-radius: 4px;
    right: 0;
    height: 100%;
    border: none;
    width: calc(80% - 35px);
    outline: none;
   font-size: 20px;
    font-weight: bold;
}
.container .one,
.container .two {
    outline: none;
    width: 100%;
    height: 25px;
}


.container .input:hover,
.container .the-value input:hover{
    border: 2px solid #03A9F4;
}

.container ul{
    position: absolute;
    z-index: 2;
    list-style: none;
    padding: 0;
    height: 250px;
    overflow: auto;
    width: 300px;
    background-color: #E1F5FE;
}
img {
    width: 20px;
    height: 15px;
    margin: 0 5px;
}
.container .appernce{
    display: block;
}
.container .result,
.container .currency-value{
    width: 300px;
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
}
.container .result,
.container .currency-value{
    padding: 10px 0;
    border-radius: 6px;
}
.container .result {
    font-size: 25px;
    color: #FF5722;
    height: 55px;
}

.container .currency-value{
font-size: 20px;
height: 50px;
}

.container .swap{
    display: block;
    background-color: blue;
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    
}

footer{
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    left: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}



